
<div class="gauche">
    <div class="marge">

        <div class="magasin hover visited "><a href="{{ url_for('accueil') }}">Accueil</a></div>
        <div class="produit hover visited "><a href="{{ url_for('listeproduit') }}">Produit</a></div>
        <div class="magasin hover visited "><a href="{{ url_for('listemagasin') }}">Magasin</a></div>
        <div class="stock hover visited "><a href="{{ url_for('listestock') }}">Stock</a></div>
        <div class="vente hover visited "><a href="{{ url_for('listevente') }}">Vente</a></div>
        <div class="deconnection hover visited "><a href="{{ url_for('deconnexion') }}">Deconnection</a></div>
    </div>
</div>