
<div class="gauche">
    <div class="marge">

        <div class="magasin hover visited "><a href="{{ url_for('accueil') }}">Accueil</a></div>
        <div class="produit hover visited "><a href="{{ url_for('listeproduit') }}">Produit</a></div>
        <div class="magasin hover visited "><a href="">Magasin</a></div>
        <div class="vente hover visited "><a href="">Vente</a></div>
        <div class="stock hover visited ">Stock</div>
        <div class="deconnection hover visited "><a href="">Deconnection</a></div>
    </div>
</div>