{% extends "./accueil.html" %}

{% block centre %}
<div class="droite">
            <div class="container1">

                <div class="tab">
                    <div class="minitab2">

                        <form class="formu" method="POST">
                            <h3>Ajouter un nouveau magasin</h3>

                            <div class="di">
                                <div>
                                    <label for="Nom">Nom</label>
                                </div>
                                <div>
                                    <input type="text" id="Nom" name="nom" placeholder="Nom" size="40" value= "{{data[1]}}" required>
                                </div>
                            </div>
                            <div class="di">
                                <div>

                                    <label for="Adresse">Adresse: </label>
                                </div>
                                <div>

                                    <input type="text" id="Adresse" name="adresse" placeholder="Adresse" size="40" value= "{{data[2]}}" required>
                                </div>
                            </div>
                            <div class="di">
                                <div>

                                    <label for="Telephone">Telephone: </label>
                                </div>
                                <div>

                                    <input type="text" id="Telephone" name="telephone" placeholder="Telephone" size="40" value= "{{data[3]}}" required>
                                </div>
                            </div>
                            <div class="di">
                                <div>

                                    <label for="Email">Email: </label>
                                </div>
                                <div>

                                    <input type="email" id="Email" name="email" placeholder="email" size="40" value= "{{data[4]}}" required>
                                </div>
                            </div>
                            <div>
                                <!-- bouton envoyer -->
                                <button class="btg" type="submit"><a href="{{ url_for('listemagasin') }}">Retour</a></button>
                                <button class="btd" type="submit">Valider</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
</div>
{% endblock %}

