{% extends "./accueil.html" %}

{% block centre %}
<div class="droite">
            <div class="container1">

                <div class="tab">
                    <div class="minitab2">

                        <form class="formu" method="POST">
                            <h3>Ajouter une nouvelle vente</h3>

                            <div class="di">
                                <div>
                                    <label for="NomProduit">Nom Produit</label>
                                </div>
                                <div>
                                    <select name="nomproduit" id="NomProduit">
                                        {% for prod in prods %}
                                            <option value="{{prod.0}}" selected>{{prod.1}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- <input type="text" id="NomProduit" name="nomproduit" placeholder="Nom" size="40" value= "{{data[1]}}" required> -->
                                </div>
                            </div>
                            <div class="di">
                                <div>
                                    <label for="NomMagasin">Nom Magasin</label>
                                </div>
                                <div>
                                    <select name="nommagasin" id="NomMagasin">
                                        {% for mag in mags %}
                                            <option value="{{mag.0}}" selected>{{mag.1}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- <input type="text" id="NomMagasin" name="nommagasin" placeholder="Adresse" size="40" value= "{{data[2]}}" required> -->
                                </div>
                            </div>
                            <div class="di">
                                <div>
                                    <label for="Quantite">Quantité</label>
                                </div>
                                <div>

                                    <input type="number" id="Quantite" name="quantite" placeholder="Quantité" size="40" value= "{{data[1]}}" required>
                                </div>
                            </div>
                            <div class="di">
                                <div>

                                    <label for="date">datevente</label>
                                </div>
                                <div>

                                    <input type="date" id="date" name="date"  size="40" value= "{{data[4]}}" required>
                                </div>
                            </div>
                            <div>
                                <!-- bouton envoyer -->
                                <button class="btg" type="submit"><a href="{{ url_for('listevente') }}">Retour</a></button>
                                <button class="btd" type="submit">Valider</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
</div>
{% endblock %}

