<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='initialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {%block reload%}
    {% endblock %}
    
</head>
<body>
  {% include './partiel/header.html' %}
    <section class="main1">
      {% include './partiel/menu.html' %}

      {% block centre %}
      {% endblock %}
    </section>
</body>
</html>