{% extends "./accueil.html" %}

{% block centre %}
<div class="droite">
            <div class="container1">

                <div class="tab">
                    <div class="minitab2">
                        <div class="tabsup">
                            <h3>
                                Suppression du stock {{data[0]}}
                            </h3>

                            <div class="messagesupprimer">
                                <div class="messageconfirm">
                                    <p class="p1">Vous êtes sur le point de supprimer du stock de <strong>{{data[1]}}</strong> par le magasin <strong>{{data[2]}}</strong>.</p>
                                    <p>Êtes-vous sûr de vouloir continuer ?</p>
                                </div>
                                <div class="touchconfirm">
                                    <!-- bouton envoyer -->
                                    <button class="btg" type="submit"><a href="{{ url_for('listestock') }}">Retour</a></button>
                                    <button class="btd" type="submit"><a href="{{ url_for('supprimestock', item_id=data[0]) }}">Confirmer</a></button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
</div>
{% endblock %}

